header{
    width: 80%;
    height: 95vh;
   /* border: 1px solid red;*/
    margin: auto;
}
header nav{
    width: 95%;
    height: 7%;
    margin: auto;
    /*border: 1px solid gray;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    padding: 3px 15px;
}
 
header nav ul li a{
    text-decoration: none;
    color: black;
    transition: .3s linear;
    
}
header nav ul li a:hover{
    color: cadetblue;
}
header .content{
    position: relative;
    width: 100%;
    height: 93%;
   /* border: 1px solid green;*/
}
header .content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
   /* border: 1px solid green;*/
    background: url('img/island-3542290_960_720.jpg')no-repeat center ;
    border-radius: 10px;
    z-index: -1;
}
header .content .cont_box{
    width: 600px;
    height: auto;
    
    padding: 30px;
}
header .content .cont_box h1{
    line-height: 40px;
    font-weight: 800;
}
header .content .cont_box p{
    line-height: 14px;
    font-weight: 400;
}
header .content .cont_box button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
   /* border: 2px solid #000;*/
    cursor: pointer;
    background: blue;
    color: aliceblue;
    width: 30%;
}
header .content .cont_box button:hover{
    background: gray;
    border: rgb(113, 113, 113);
}
header .trip_bx{
    position: relative;
    width: 95%;
    height: auto;
    margin-top: 30px;
    padding: 0px 10px;
    /*border: 1px solid black;*/
}
header .trip_bx .search_bx{
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgb(113, 113, 113);
    z-index: 1;
    padding: 10px 10px 0px 10px;
}
header .trip_bx .search_bx .card{
    width: 200px;
    height: 100%;
    /*border: 1px solid black;*/
}
header .trip_bx .search_bx .card h4 {
     font-size: 15px;
     margin: 0px;
     font-weight: 700;
}
header .trip_bx .search_bx .card input{
    margin-top: 3px;
    padding: 5px 0px;
    border: none;
    outline: none;
    font-size: 13px;
}
header .trip_bx .search_bx input[type="button"]{
    background: black;
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s linear;
    cursor: pointer;
}
header .trip_bx .search_bx input[type="button"]:hover{
    background: gray;
}
header .trip_bx .travel_bx{
    position: relative;
    width: 1000px;
    height: auto;
    margin: auto;
    top: 40px;
    /*border: 1px solid black;*/
    border-radius: 10px;
    padding-bottom: 5pxpx;
    box-shadow: 0px 20px -10px rgb(165, 165, 165);
}
header .trip_bx .travel_bx::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(109, 99, 99, 0.8)50%,rgba(107, 83, 83, 0.8)50%);
    /*background: rgb(64, 191, 223) ;*/
    filter: blur(1px);
    z-index: -1;
}
header .trip_bx .travel_bx h4{
    margin: 0px;
    padding: 40px 0px 15px 1.7%;
    color: orange;
}
header .trip_bx .travel_bx .cards{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .trip_bx .travel_bx .cards .card{
     width: 220px;
     height: 250px;
    /* border: 1px solid black;*/
}
header .trip_bx .travel_bx .cards .card h3{
    margin: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
header .trip_bx .travel_bx .cards .card h3 img{
    width: 20px;
    height: 20px;
}
header .trip_bx .travel_bx .cards .card img{
    width: 100%;
    height: 50%; 
}
header .trip_bx .travel_bx .cards .card .btn_city{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* border: 1px solid black;*/
    
}
header .trip_bx .travel_bx .cards .card .btn_city a{
    text-decoration: none;
    background: #000;
    border-radius: 20px;
    color: white;
    padding: 6px 20px;

}
header .trip_bx .travel_bx .cards .card .btn_city a:hover{
    background: orange;
    
}
header .trip_bx .travel_bx .cards .card .btn_city h5{
    font-size: 11px;
    font-weight: 500;
    margin: 1px;
    margin-top: 5px;
    line-height: 15px;
    

}
header .trip_bx .travel_bx .cards .card .btn_city h5 span{
    font-size: 13px ;
    font-weight: 700;

}
.offers{
    width: 80%;
    height: auto;
   /* border: 1px solid black;*/
    margin: auto;
    margin-top: 150px;

}
.offers h1{
    font-weight: 500;
    text-align: center;
    margin: 0;
}
.offers .cards{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* border: 1px solid black;*/
    flex-wrap: wrap;
}
.offers .cards .card{
    position: relative;
    width: 225px;
    height: 350px;
    /*border: 1px solid black;*/
    margin-top: 10px;
}
.offers .cards .card h3{
    width: 143px;
    padding: 6px 0px;
    background: rgb(145,243, 165);
    border-radius: 10px;
    font-size: 12px;
    display: grid;
    place-items: center;
    margin: auto;
}
.offers .cards .card .img_txt img{
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 5px;
}
.offers .cards .card .img_txt h4{
    position: absolute;
    font-size: 12px;
    padding: 10px 10px;
    margin: 0;
    z-index: 2;

}
.offers .cards .card .img_txt h4::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    bottom: 0;
    left: 0;
}
.offers .cards .card .cont_bx{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px 0px;
    margin-top: 65px;
    height: auto;

}
.offers .cards .card .cont_bx .price .dayes{
    margin: 0px 8px;
}
.offers .cards .card .cont_bx .price .heart_chat{
    display: flex;
    align-items: center;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(1){
    color: red;
    font-size: 14px;
    margin-right: 10px;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(1) span{
    color: black;
    font-size: 12px;
    margin-left: 3px;
    font-size: normal;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(2){
    color: green;
    font-size: 14px;
    margin-right: 10px;
}
.offers .cards .card .cont_bx .price .heart_chat i:nth-child(2) span{
    color: black;
    font-size: 12px;
    margin-left: 3px;
    font-size: normal;
}
.offers .cards .card .cont_bx .price .info_price{
     display: flex;
     align-items: center;
     margin-top: 3px ;
     padding: 0px 3px;
}
.offers .cards .card .cont_bx .price .info_price a{
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    color: #000;
}
.offers .cards .card .cont_bx .price .info_price a:hover{
    color: green;
}
.offers .cards .card .cont_bx .price .info_price h4{
    margin: 0;
    font-size: 13px;
    padding-left: 3px;
}
.offers .cards .card .cont_bx .dayes{
    color: white;
    background: #000;
    font-size: 8px;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: .3s linear;
}
.offers .cards .card .cont_bx .dayes:hover{
    transform: rotate(360deg);
}
.distination{
    width: 45%;
    height: auto;
    /*border: 1x solid black;*/
    margin: auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.distination .des_bx, .img_bx{
    position: relative;
    width: 50%;
    height: auto;
   /* border: 1px solid black;*/
}
.distination .des_bx, h4{
     margin: 0;
     font-size: 20px;
     color: black;
     line-height: 10px;
     letter-spacing: 1px;
}
.distination .des_bx, p{
    font-size: 12px;
    
}
.distination .des_bx, li{
    list-style-type:none;
    padding: 0px 0px 8px 0px;
    font-size: 12px;
    font-weight: 600;

}
.distination .des_bx, h6{
    width: 250px;
    font-size: 12px;
    font-weight: 500;
    margin: 20px 0px;
}
.distination .des{
    font-size: 12px;
    width: 150px;
    padding: 8px 15px;
    border-radius: 20px;
    background: black;
    color: white;
    border: 2px solid black;
    transition: .1s linear;
}
.distination .img_bx{
    width: 50%;
}
.distination .img_bx img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
footer{
    width: 100%;
    height: auto;
    background: rgb(233, 229, 229);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer h2{
    text-align: center;
    margin: 0;
    margin-top: 20px;
    line-height: 25px;
    font-weight: 600;
}
footer p{
    text-align: center;
    width: 400px;
    font-size: 13px;
}
footer .input{
    box-shadow: 0px 3px 20px -1px gray;
    border-radius: 20px;
    display: flex;

}
footer .input input{
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 20px 0px 0px 20px;
    
}
footer .input button{
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 0px 20px 20px 0px;
    background: #000;
    color: white;
    cursor: pointer;
    transition: .3s linear;
    margin: 0;
    
}
footer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
footer ul li{
    text-decoration: none;
    margin: 30px;
    font-weight: bold;
}
footer ul li h6{
    font-size: 11px;
    font-weight: 600;
    max-width: 120px;
    margin: 0;
    line-height: 20px;
    border-top:  1px solid black;
    padding-top: 3px;

}














body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 6px 24px;
  margin: -4px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.lebel{
    padding-top: 10px;
    margin-top: 5px;
}


span.psw {
  float: right;
  padding-top: 16px;
}
 
 
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.icon ion-icon{
    color: rgb(40, 91, 185);
    font-size: 30px;
    padding-left: 14px;
    padding-top: 10px;
    transition: 0.2s ease;

}
.icon ion-icon:hover{
    color: orange;
}


